.content-container {
    max-width: 1920px;
    width: 100%;
    margin: 52px auto;
}
header {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.logo-img {
    width: 122px;
    height: 95.04px;
}
ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 20px;
}
#section-1 {
    margin: 60px auto;
    width: 90%;
}
#man-with-guitar {
    width: 100%;
}
#section-2 {
    width: 90%;
    margin: 138px auto;
}
h2 {
    font-size: 40px;
    color: gray;
}
.cards {
    width: 100%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}
.card-1, .card-2, .card-3 {
    box-shadow: 2px 2px #707070;
    width: 483px;
    height: 563px;
}
.second-section-images, .third-section-images{
    width: 100%;
    margin-bottom: 20px;
}
h4 {
    margin-left: 10px;
   
    font-size: 30px;
    color: gray;
    margin-bottom: 33px;
}
.card-p {
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 120px;
}
a {
    font-size: 24px;
    margin-left: 85%;
}
#section-3 {
    width: 90%;
    margin: 130px auto;
}
#img-2 {
    height: auto;
}
footer {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2E2E2E;
}
#footer-logo {
    margin: 56px;
}
.contact-info-container p {
    color: white;
    font-size: 13px;
}
.contact-info-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #2E2E2E;
    align-items: center;
    width: 95%;
}
.social-media {
    width: 6%;
    display: flex;
    justify-content: space-between;
}